! source dwm colorscheme !
#include ".config/dwm/xcolors_dwm/matugen"

! source dmenu colorscheme !
#include ".config/dmenu/xcolors_dmenu/matugen"

! fonts config !
! Xft.dpi: 120
! Xft.antialias: 1
! Xft.hinting: 1
! Xft.autohint: 0
! Xft.hintstyle: hintslight
! Xft.rgba: rgb
! Xft.lcdfilter: lcddefault
!
XTerm.vt100.background: black
XTerm.vt100.foreground: grey
xterm*faceName: Iosevka
xterm*faceSize: 18
