*{
  transparent: #282a3670;
  background: #191c20;
  background-1: #282a2f;
  foreground: #e2e2e9;
  foreground-1: #8e9099;
  selected: #aac7ff;
  selected-1: #bec6dc;
  active: #ddbce0;
  urgent: #ba1a1a;
}
